<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="flow-container">
    <ol class="root project">
      {{#each rootNodes as |root|}}
        {{todo-item todo=root}}
      {{/each}}
      <br />
      <br />
    </ol>
  </div>
</div>